#utils
alias userctl="systemctl --user"

#icat :)
alias icat="kitten icat --align=left"
alias isvg="rsvg-convert|icat"

#colors
alias ip="ip -c"

#yt-dlp
alias yt-dlp.audio="yt-dlp --ignore-config --config-locations ~/.config/yt-dlp/config.audio"
