Xcursor.theme: Breeze-Adapta

*.color0:  #263238
*.color8:  #37474F

*.color1:  #FF9800
*.color9:  #FFA74D

*.color2:  #8BC34A
*.color10: #9CCC65

*.color3:  #FFC107
*.color11: #FFA000

*.color4:  #03A9F4
*.color12: #81D4FA

*.color5:  #E91E63
*.color13: #AD1457

*.color6:  #009688
*.color14: #26A69A

*.color7:  #CFD8DC
*.color15: #ECEFF1

Xft.dpi: 96
