Xcursor.theme: Breeze-Adapta

*.color0:  #263238
*.color1:  #FF9800
*.color2:  #8BC34A
*.color3:  #FFC107
*.color4:  #03A9F4
*.color5:  #E91E63
*.color6:  #009688
*.color7:  #CFD8DC
*.color8:  #37474F
*.color9:  #FFA74D
*.color10: #9CCC65
*.color11: #FFA000
*.color12: #81D4FA
*.color13: #AD1457
*.color14: #26A69A
*.color15: #ECEFF1
*.foreground: #ECEFF1
*.background: #263238
XTerm*decTerminalID: vt340
XTerm*numColorRegisters: 256
