configuration {
	modi:           "run,drun"      ;
	show-icons:     true            ;
	terminal:       "/usr/bin/kitty";
	sort:           true            ;
	sidebar-mode:   true            ;
	matching:       "fuzzy"         ;
	display-window: "Window"        ;
	display-run:    "Execute"       ;
	display-drun:   "Activate"      ;
}
/* @theme "sidetab" */
@theme "sidebar-adapta"
